<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="box_login">
        <div class="cover"></div>
        <h1>Faça seu login</h1>

        <form method="POST" action="http://localhost/sistema_login/check">
            <input type="email" name="email" placeholder="E-MAIL">
            <input type="password" name="password" placeholder="SENHA">

            <button class="btn_login">LOGAR</button>
            <span class="msg_error"><i class="fa fa-exclamation-triangle" style="font-size: 16px; color: #FF6D6D; padding-right: 5px;"></i><p>Tentativa Inválida</p></span>
        </form>
    </div>
</body>
</html>